<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orbit controls</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <canvas></canvas>  
    
    <!-- Update the OrbitControls source to a more reliable CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.160.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.160.0/examples/jsm/controls/OrbitControls.js" type="module"></script>

    
    <script src="orbitControls.js" type="module"></script>
    
</body>
</html>